apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s.ca['certificate-authority-data'] }}
    server: {{ k8s.server.protocol }}://{{ k8s.server.url }}:{{ k8s.server.port }}
  name: kubernetes-the-hard-way
contexts:
- context:
    cluster: kubernetes-the-hard-way
    namespace: default
    user: {{ k8s.user.name }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ k8s.user.name }}
  user:
    client-certificate-data: {{ k8s.user.certificate  }}
    client-key-data: {{ k8s.user.key  }}

